
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Youtube Jukebox</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">

  <style type="text/css">
    .jumbotron {
      background: #000;
    }

    .navbar-default {
      background: #FFF;
      border: none;
    }

    .navbar-header h1 {
      font-family: 'Fredoka One', cursive;
      font-size: 60px;
      text-transform: uppercase;
      padding: 10px;
      background: -webkit-linear-gradient(gold, blue);
      color: #FFF;
    }

    .navbar-right {
      margin-top: 25px;
    }
  </style>
</head>
<body>
  <!-- <div class="jumbotron text-center">
    <h1>JUKEBOX</h1>
    <p>A simple jukebox application<br><kbd>Refresh page to get new links.</kbd></p> 
  </div> -->

  <div class="container">

    <nav class="navbar navbar-default">
        <div class="navbar-header">
          <h1>Jukebox</h1>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            {% if 'user' in request.session %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-user"></i> {{ request.session.user}} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/logout">Log out <i class="glyphicon glyphicon-log-out"></i></a></li>
              </ul>
            </li>
            {% else %} 
            <li>
              <a href='{% url 'slack_auth' %}'><img src="https://api.slack.com/img/sign_in_with_slack.png" style="height: 30px;" /></a>
            </li>
            {% endif %}
          </ul>
        </div>
    </nav>

    <div class="row">
      <div class="col-lg-9">
        <div class="jumbotron text-center">
          <div id="player"></div>            
        </div>

        <div class="row">
          <div class="col-sm-9">
            <h3 id="title"></h3>    
          </div>
          <div class="col-sm-3 text-right">
            {% if 'user' in request.session %}
              <div>
                <button type="button" id="vote" class="btn btn-info btn-lg"><i class="glyphicon glyphicon-chevron-up"></i> <span id="vote_count"></span> Vote</button>
              </div>
            {% else %} 
              <div>
                <button type="button" class="btn btn-default btn-lg" disabled><i class="glyphicon glyphicon-chevron-up"></i> <span id="vote_count"></span> Vote</button>
                <br><br>
                <i class="glyphicon glyphicon-alert"></i> Sign in to vote
              </div>
            {% endif %}
          </div>
        </div>

        <hr>
      </div>

      <div class="col-lg-3">
        {% for video in videos %}

        <div class="thumbnail">
          <img src="http://img.youtube.com/vi/{{ video }}/0.jpg" class="img-responsive">
          <div class="caption">
            <strong>{{ video.votes }} votes</strong>
            <button type="button" class="btn btn-default play-video pull-right" data-index="{{ forloop.counter0 }}"><i class="glyphicon glyphicon-play"></i> Play</button>
            <div class="clearfix"></div>
          </div>
        </div>

        {% endfor %}
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script type="text/javascript">
    // List of videos as js object
    var videos = {{ video_json | safe }};

    // Youtube logic
    var tag = document.createElement('script');

    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    var player;
    var currentPlaying = 0;

    function onYouTubeIframeAPIReady() {
      player = new YT.Player('player', {
        width: '100%',
        height: '400',
        events: {
          'onReady': onPlayerReady,
          'onStateChange': onPlayerStateChange
        }
      });
    }

    function onPlayerReady(event) {
      playVideo(videos[0])
    }

    function onPlayerStateChange(event) {        
        if (event.data === 0) {
          if (currentPlaying < (videos.length - 1)) {
            currentPlaying++
          } else {
            currentPlaying = 0
          }

          playVideo(videos[currentPlaying])
        } else if (event.data === 1) {
          if (player.getVideoData()) {
            $('#title').text(player.getVideoData().title)
          }
        }
    }

    function playVideo(videoData) {
      $('#vote_count').html(videoData.votes)
      $('#vote').attr('disabled', false)
      $('#title').text('')
      player.loadVideoById(videoData.videoId)
    }


    $('.play-video').click(function () {
      var index = parseInt($(this).data('index'))
      currentPlaying = index

      playVideo(videos[index])

      $('html, body').animate({
          scrollTop: 0
      }, 200);
    })

    $('#vote').click(function () {
      var id = videos[currentPlaying].videoId

      $.ajax({
        method: 'GET',
        url: '/vote',
        data: { vid: id }
      })
      .done(function(response) {
        $('#vote_count').html(response.votes)
        $('#vote').attr('disabled', true)
      })
      .fail(function() {
        window.alert('Could not vote')
      })

    })
  </script>
</body>
</html>


